body {
  background-color: rgb(182, 182, 12);
  padding-top: 60px;
}
.footer {
  background-color: lightgrey;
}

.carousel {
  border: solid 2px darkolivegreen;
}

.carousel-item img {
  object-fit: scale-down;
  height: 70vh;
}
.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.list-group-item {
  border-bottom: solid 1px black;
}

.tabs {
  border: solid 1px;
}
.fancy-box img {
  margin-top: 10px;
}
.chat {
  border: solid 1px;
}

.message-board {
  max-height: 300px;
}
