body {
  background-color: rgb(182, 182, 12);
}

.carousel .carousel-item {
  border: solid 1px black;
  height: 70vh;
  width: center;
}

.carousel-item img {
  object-fit: scale-down;
  height: 70vh;
}

.list-group-item {
  border-bottom: solid 10px black;
}
